# Minneapolis Housing Research

In [1]:
import sqlite3
import pandas
import subprocess
import os

DB = sqlite3.connect('file:data/minneapolis.db?mode=ro', uri=True)

def pp(x):
    print(format (x, ',d'))

def execute(sql):
    return DB.execute(sql).fetchall()

def execute_one(sql):
    return execute(sql)[0][0]

In [2]:
print(
    subprocess.run("sqlite3 ./data/minneapolis.db '.schema'", shell=True, capture_output=True, check=True).stdout.decode('utf-8')
)

CREATE TABLE lotinfo(
  "apn" TEXT,
  "ASSESSOR_USE" TEXT,
  "TYPE" TEXT,
  "LOTSIZE" INTEGER,
  "lotDepth" INTEGER,
  "lotFrontage" TEXT,
  "PARCEL_BLOCK" TEXT,
  "PARCEL_LOT" TEXT,
  "PARCEL_ADDITION" TEXT,
  "ASSESSOR_FNAME" TEXT,
  "ASSESSOR_EXTENSION" TEXT,
  "RelativeHomestead" TEXT
);
CREATE TABLE structure_information(
  "apn" TEXT,
  "CONCAT_ADDRESS" TEXT,
  "UNIT_COUNT" INTEGER,
  "building_parkspaces" TEXT,
  "TOTAL_BEDROOMS" INTEGER,
  "TOTAL_BATHS" INTEGER,
  "BUILD_DATE" TEXT,
  "ONE_BEDROOM" TEXT,
  "TWO_BEDROOM" TEXT,
  "THREE_BEDROOM" TEXT,
  "FOUR_BEDROOM" TEXT,
  "EFFICIENCY" TEXT,
  "STORIES" INTEGER,
  "SECOND_FLOOR_AREA" INTEGER,
  "BASEMENT_AREA" INTEGER,
  "FINISHED_BASEMENT_AREA" INTEGER,
  "GROSS_BUILDING_AREA" INTEGER,
  "ABOVEGRADEAREA" INTEGER,
  "GROUND_FLOOR_AREA" INTEGER,
  "BUILDINGCODE" TEXT
);
CREATE TABLE zones(
  "apn" TEXT,
  "ZONE_CODE" TEXT,
  "ZONE_DESC" TEXT,
  "zoneType" TEXT
);
CREATE TABLE property_owner(
  "apn" TEXT,
  "OWNER_NAME" TEXT,
  "OWNER_STREETADDRESS" TEXT,
  "OWNER_ADDRESS" TEXT
);
CREATE TABLE property_taxpayer(
  "apn" TEXT,
  "taxpayerLine1" TEXT,
  "taxpayerLine2" TEXT,
  "taxpayerLine3" TEXT,
  "taxpayerLine4" TEXT
);
CREATE TABLE permit_details(
  "pid" TEXT,
  "PERMIT" TEXT,
  "ISSUE_YEAR" TEXT,
  "ISSUE_DATE" TEXT,
  "TYPE" TEXT,
  "TYPE_DESCRIPTION" TEXT,
  "STATUS_P" TEXT,
  "VALUATION_ESTIMATE" NUMERIC,
  "APPLICATION_APPLICANT" TEXT,
  "PER_COMPL_DATE" TEXT,
  "SUM_FEE_PAYMENT" TEXT
);
CREATE TABLE sale_history(
  "apn" TEXT,
  "SALES_SELLERNAME" TEXT,
  "SALES_BUYERNAME" TEXT,
  "SALES_PRICE" INTEGER,
  "sale_date" TEXT
);
CREATE TABLE rental_history(
  "apn" TEXT,
  "KEY_" TEXT,
  "PERTYPE" TEXT,
  "PERDESC" TEXT,
  "ISSUE_DATE" TEXT,
  "CONTACT_NAME" TEXT,
  "CONTACT_ADDRESS1" TEXT,
  "CONTACT_ADDRESS2" TEXT,
  "CONTACT_CITY" TEXT,
  "CONTACT_STATE" TEXT,
  "CONTACT_ZIP" TEXT,
  "CONTACT_PHONE" TEXT,
  "paymentDate" TEXT,
  "paymentAmount" NUMERIC,
  "tierCode" TEXT
);
CREATE TABLE valuation_history(
  "apn" TEXT,
  "YEAR" TEXT,
  "EXEMPTIONS_HOMESTEADPERCENT" TEXT,
  "EXEMPTIONS_EXEMPTTYPE" TEXT,
  "TOH" TEXT,
  "STRUCTURE_BUILDINGVALUE" NUMERIC,
  "STRUCTURE_LANDVALUE" NUMERIC,
  "STRUCTURE_MACHINEVALUE" NUMERIC,
  "STRUCTURE_TOTALVALUE" NUMERIC,
  "TAXABLE_VALUE" NUMERIC
);

In [3]:
single_family_homes = execute("SELECT COUNT(*) FROM structure_information where buildingcode = 'Single Family'")[0][0]
total_lots = execute("SELECT COUNT(*) from structure_information")[0][0]

print(f"There are {single_family_homes:,} single family homes, {(float(single_family_homes)/total_lots):.0%} of all lots")

There are 75,914 single family homes, 61% of all lots


## Profile Of A Flipped Property

## Sales and Valuation

## Permits

In [4]:
# unique permits
pp(execute("SELECT count(distinct pid) from permit_details")[0][0])

828,974

In [5]:
#

## Rentals